{% extends 'base.html' %}

{% block content %}

              <!-- ***** Featured Games Start ***** -->
              <div class="row">
                <div class="col-lg-8">
                  <div class="featured-games header-text">
                    <div class="heading-section">
                      <h4><em>Featured</em> Games</h4>
                    </div>
                    <div class="owl-features owl-carousel">
                    {% for game in games %}
                      <div class="item">
                        <div class="thumb">
                          <img src="{{ game.image.url }}" alt="">
                          <div class="hover-effect">
                            <h6>2.4K Streaming</h6>
                          </div>
                        </div>
                        <h4>
                          <!-- add pk for details  -->
                          <a href="{% url 'game_detail' game.pk %}">{{ game.title }}</a><br> 

                          <span>{{ game.download_count }}</span>
                        </h4>
                        <ul>
                          <li><i class="fa fa-star"></i>{{ game.rating }}</li>
                          <li><i class="fa fa-download"></i> {{ game.download_count }}</li>
                        </ul>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="top-downloaded">
                    <div class="heading-section">
                      <h4><em>Top</em> Downloaded</h4>
                    </div>
                    <ul>
                      <li>
                        <img src="assets/images/game-01.jpg" alt="" class="templatemo-item">
                        <h4>Fortnite</h4>
                        <h6>Sandbox</h6>
                        <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                        <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                        <div class="download">
                          <a href="#"><i class="fa fa-download"></i></a>
                        </div>
                      </li>
                      <li>
                        <img src="assets/images/game-02.jpg" alt="" class="templatemo-item">
                        <h4>CS-GO</h4>
                        <h6>Legendary</h6>
                        <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                        <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                        <div class="download">
                          <a href="#"><i class="fa fa-download"></i></a>
                        </div>
                      </li>
                      <li>
                        <img src="assets/images/game-03.jpg" alt="" class="templatemo-item">
                        <h4>PugG</h4>
                        <h6>Battle Royale</h6>
                        <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                        <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                        <div class="download">
                          <a href="#"><i class="fa fa-download"></i></a>
                        </div>
                      </li>
                    </ul>
                    <div class="text-button">
                      <a href="profile.html">View All Games</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Featured Games End ***** -->

{% endblock %}